[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
injector = "*"
pipenv-to-requirements = "*"
buslane = "*"
serviceregistry = {editable = true, ref = "master", git = "https://github.com/omars1111/serviceregistry.git"}
injectorfount = {editable = true, ref = "master", git = "https://gitlab.com/bookla-foundation/injector-fount.git"}
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-cov = "*"
pytest-pycodestyle = "*"
mypy = "*"
pipenv-to-requirements = "*"
black = "==22.12.0"
flake8 = "*"
isort = "*"
pre-commit = "*"
autopep8 = "*"
typing-extensions = "*"
coverage = "*"

[requires]
python_version = "3.11"
